/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    color: #333;
    background-color: #f4f4f9;
    text-align: center;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, rgba(252, 253, 253, 0.8), rgba(180, 172, 187, 0.8)), url('https://source.unsplash.com/featured/?nature');
    background-size: #f0f8ff;
    width: 100%
    

}

.image-container {
    width: 800px;;
    height: 700px;
    border-radius: 8px;
    margin-bottom: 1rem;
    position: relative;

}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
    text-align: center;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;

}

.hero .btn-primary {
    padding: 0.8rem 1.5rem;
    background-color:white;
    color: #333;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1rem;
}

.hero .btn-primary:hover {
    background-color: #080808;
    color: white;
    transform: scale(1.05);
    text-align: center;
}

/* Features Section */
.features {
    text-align: center;
    padding: 4rem 2rem;
    background-color: #f4f4f9;
}

.features h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
}

.features-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.feature-item {
    flex: 1 1 280px;
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.feature-item h4 {
    font-size: 1.5rem;
    color: #4a90e2;
    margin-bottom: 0.5rem;
}

.feature-item p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.feature-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

footer p {
    font-size: 1.2rem;
    margin-bottom: 0;
}
.text-overlay {
    position: absolute; /* Position the text overlay */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the text to center it */
    color: white; /* Text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow for better readability */
    text-align: center; /* Center the text */
}
.btn-primary:hover {background-color: #2980b9; /* Darker color on hover */
}
